.banner {
background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://source.unsplash.com/random');
background-position:center;
background-size:cover;
height: 80vh;
display: flex;
align-items: center;
justify-content: space-around;


}
